<!DOCTYPE html>

<script>
    var isLoggedIn = false;

    function openLogin() {
        document.getElementById("loginModal").style.display = "flex";
    }

    function closeLogin() {
        document.getElementById("loginModal").style.display = "none";
    }

    function loginUser() {
        isLoggedIn = true;
        closeLogin();
        alert("Logged in successfully!");
    }
</script>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViewGameDemo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViewGameDemo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar-custom">
            <div class="nav-left">
                <img src="/images/Logo.jpeg" alt="GameGallery Logo" class="nav-logo" />
                <span class="nav-title"></span>
            </div>

            <div class="nav-right">
                <button class="login-btn" onclick="openLogin()">Login</button>
            </div>
        </nav>
    </header>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLogin()">&times;</span>

            <h2>Login</h2>

            <input type="text" placeholder="Username" />
            <input type="password" placeholder="Password" />

            <button onclick="loginUser()">Login</button>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ViewGameDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    function handlePlay(gameId) {

        if (!isLoggedIn) {
            openLogin();
            return;
        }

        // If logged in, redirect to play page
        window.location.href = "/Games/Play/" + gameId;
    }
</script>